<h1>shoe.erb</h1>
<h2>Shoe Brand: <%= @shoe.brand() %></h2>
<hr>



<h4>Assign <%= @shoe.brand() %> to a store:</h4>
<form id="update_store_id" action="/shoes/<%= @shoe.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input type="hidden" name="shoe_id" id="shoe_id" value="<%= @shoe.id() %>">
  <label for="store_select">Select the Store:  </label>
    <br>
  <select id="store_id" name="store_id">
    <% @stores.each() do |store| %>
      <option value="<%= store.id() %>"><%= store.name() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>

<% if @store != nil %>
<h3> Currently available at: <%= @store.name %> </h3>
  <% @store.shoes.each() do |shoe| %>
    <ul>
        <li><%= shoe.brand %> <%= shoe.price %> </li>
    </ul>
  <% end %>

<% else %>
    <p><strong>Shoe Brand <%= @shoe.brand() %> is not available at any store.</strong></p>
    <br>
    <p><a href="/stores">Add a store to the database here</a></p>
    <p><a href="/shoes">Add a shoe to a store here</a></p>
<% end %>
<% if @store %>
<h3> Currently available at: <%= @store.shoes.name %> </h3>
  <% @store.shoes.each() do |shoe| %>
    <ul>
        <li><%= shoe.brand %> <%= shoe.price %> </li>
    </ul>
  <% end %>

<% else %>
    <p><strong>Shoe Brand <%= @shoe.brand() %> is not available at any store.</strong></p>
    <br>
    <p><a href="/stores">Add a store to the database here</a></p>
    <p><a href="/shoes">Add a shoe to a store here</a></p>
<% end %>
