<h2>Shoes.erb</h2>
<hr>
<br>

<% if @shoes == [] %>

<p>There are currently no shoes in the database</p>

<% else %>
<h3>Stores Carrying Brands of Shoes:</h3>
<% @stores.each() do |store| %>
<li><a href="/store/<%= store.id() %>">Store Name: <%= store.name() %> Shoes in Store: <%= store.name %></a></li>

<% end %>
<p>Current Shoes</p>
<ul>
  <% @shoes.each() do |shoe| %>

  <li><a href="/shoes/<%= shoe.id() %>"><%= shoe.brand() %> $<%= shoe.price() %> <%= shoe.store_id %></a></li>

  <% end %>

</ul>

<% end %>
<h3> Add a Shoe: </h3>
<form action="/shoes" method="post">
  <label for="shoe_name">Shoe Name:  </label>
  <input type="text" name="shoe_name" id="shoe_name">
  <label for="shoe_price">Shoe Price:  </label>
  <input type="text" name="shoe_price" id="shoe_price">
  <button type="submit">Add Shoe</button>
</form>
