<h2> <%= @store.name() %></h2>
<hr>

<% if @store.shoes.any? %>
  <h3>Here are the shoes currently assigned to this store:</h3>
  <ul>
    <% @store.shoes.each() do |store_shoe| %>
      <li><%= store_shoe.brand %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no shoes assigned to this store.</strong></p>
    <br>

<% end %>

<p>Add an shoe to this store:<p>
<form id="add_shoe_id" action="/stores/<%= @store.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input type="hidden" name="store_id" id="store_id" value="<%= @store.id() %>">
  <label for="shoe_id">Select a Shoe:  </label>
    <br>
  <select id="shoe_id" name="shoe_id">
    <option value=""></option>
    <% @shoes.each() do |shoe| %>
      <option value="<%= shoe.id() %>"><%= shoe.brand() %></option>
    <% end %>
  </select>
  <button type="submit">Submit</button>
</form>

<h1>Delete a Store</h1>

<form action="/stores/<%= @store.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button class="btn btn-danger" type="submit">Delete Store</button>
</form>
